*{
    margin: 0;
    padding: 0;
}
.div{
    width:300px;
    height: 700px;
    background-color:darkblue;
    transition: 1s;
    transform: translateX(-250px);
}
.umumi{
    display: flex;
    justify-content: flex-end;  
    padding: 10px;
}
.umumi i{
    color: aliceblue;
    font-size: 25px;
}
.umumi1{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.umumi1 h1{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}
ul{
    list-style: none;
    text-align: right;
    width: 96%;
    margin-top:50px;
}
ul li{
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}
ul li i{
margin-left: 30px;
}
ul li i::after{
content: attr(test);
font-size: 12px;
font-weight: 400;
font-family: sans-serif;
display: block;
position: relative;
left: 80px;
top: -20px;
border-radius: 5px;
color:aliceblue;
background-color: rgb(2, 2, 83);
padding: 5px;
opacity: 0;
}
ul li i:hover{
    filter: drop-shadow(2px 2px 4px white) ;
}
ul li i:hover::after{
    opacity: 1;
    transition: 1s;
}